<h1> Dữ liệu gửi về là: @ViewBag.employee </h1>
<form asp-action ="Index">
    <label>Nhap EmployeeId</label>
    <input type="Text" name="EmployeeId"
    <label>Nhap Age</label>
    <input type="Text" name="Age"
    <input type="submit" value="Gui du lieu"
</form>